.SWW__Navbar {
  max-width: 100%;
  width: 100%;
  min-width: 100%;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -- Image -- */
.SWW__Navar__Logo {
  width: 20%;
}

.SWW__Navar__Logo__Small {
  display: none;
}

.SWW__Navar__Logo > img {
  width: 100%;
}

/* -- Text Links -- */
.SWW__Navar__Links {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
}

.SWW__Navar__Links > * {
  margin: 1rem;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;

  color: black;

  transition: all 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SWW__Navar__Links > *::after {
  content: "";

  height: 0.2rem;
  width: 0;

  background-color: black;

  transition: all 0.3s ease-in-out;
}

.SWW__Navar__Links > *:hover::after {
  width: 100%;
}

/* -- Icons -- */
.SWW__Navar__Icons {
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SWW__Navar__Icons > * {
  margin: 1.5rem;

  font-size: 3rem;

  cursor: pointer;

  transition: all 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SWW__Navar__Icons > *:hover {
  color: var(--primary);
}

.SWW__Navnar__Icons__ShoppingCart {
  position: relative;
}

.SWW__Navnar__Icons__Bars {
  display: none;
}

.SWW__Navnar__Icons__ShoppingCart > div {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  font-size: 1rem;

  background-color: var(--black);
  color: white;

  border-radius: 50%;
}

#SWW__Navar__Small {
  position: fixed;

  top: 0;
  right: 0;

  height: 100vh;
  width: 0vw;

  z-index: 1;

  white-space: nowrap;

  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-x: hidden;
  word-wrap: normal;
  white-space: nowrap;

  transition: width 0.5s ease-in-out;
}

.SWW__Navar__Small__Link {
  font-size: 2rem;

  text-decoration: none;

  color: white;
  margin: 1rem 0;
}

.SWW__Navar__Small__CloseButton {
  position: absolute;
  top: 4rem;
  right: 3rem;

  font-size: 5rem;

  color: white;
}

@media only screen and (max-width: 1130px) {
  .SWW__Navar__Links > * {
    font-size: 1.2rem;
  }

  .SWW__Navar__Icons > * {
    font-size: 2.5rem;
  }

  .SWW__Navar__Logo {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .SWW__Navar__Links {
    display: none;
  }

  .SWW__Navnar__Icons__Bars {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .SWW__Navar__Links {
    display: none;
  }

  .SWW__Navar__Icons > * {
    font-size: 2rem;

    margin: 1.5rem 1rem;
  }

  .SWW__Navar__Icons {
    width: 10%;
  }

  .SWW__Navnar__Icons__ShoppingCart > div {
    font-size: 0.5rem;

    width: 1.2rem;
    height: 1.2rem;
  }

  .SWW__Navar__Logo {
    width: 40%;
  }
}

@media only screen and (max-width: 550px) {
  .SWW__Navar__Logo {
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .SWW__Navar__Logo__Big {
    display: none;
  }

  .SWW__Navar__Logo__Small {
    display: block;
  }

  .SWW__Navar__Logo {
    width: 20%;
  }
}
