.SWW__Marquee {
  width: 500px;
  height: 75px;

  z-index: 1;

  position: absolute;
  top: 1rem;
  right: -30%;

  background-color: #1560bd;

  border: 0.4rem #002366 solid;
  border-radius: 1rem;

  padding: 1rem 0.5;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  animation: info 5s;

  animation-name: info;
  animation-duration: 5s;
  overflow: hidden;
}

.SWW__Marquee__Icon {
  flex: 1;

  font-size: 2rem;
}

.SWW__Marquee a {
  color: white;
}

.SWW__Marquee > p {
  flex: 6;
}

@keyframes info {
  0% {
    right: -30%;
  }
  15% {
    right: 1.5rem;
  }
  50% {
    right: 1rem;
  }
  85% {
    right: 1.5rem;
  }
  100% {
    right: -30%;
  }
}
